
@charset "utf-8"

/**
 * Including Bulma
 * http://bulma.io/documentation/overview/start/
 */
@import "bulma/bulma/utilities/utilities"
@import "bulma/bulma/config/variables"

/**
 * Custom Money App Variables
 */
@import "money_vars"

@import "bulma/bulma/config/generated-variables"

$text: $primary
$body-background: #fff // $yellow
$background: #fff // $yellow // #F6F6F7
$border: darken(#F7F9FA, 4%) //lighten($grey-light, 4%)

@import "bulma/bulma/base/base"
@import "bulma/bulma/elements/elements"
@import "bulma/bulma/components/components"
@import "bulma/bulma/layout/layout"

/**
 * Bulma Extension
 */
@import "src/button"
@import "src/helpers"
@import "src/svg"


/**
 * Money App
 */
@import "money"

/**
 * Core Email App
 */
@import "core_email"
